/* 공통 */

section {
    padding: 100px 96px 110px 148px;
    box-sizing: border-box;
}

section h2 {
    font-size: 78px;
    font-family: 'Marcellus', 'Noto Sans KR', sans-serif;
}

.slide_btn{
    position: absolute;
    width: 60px;
    height: 72px;    
    z-index: 10;
    display: inline-block;
    background: url('../img/main_promo_arrow_w.png') center no-repeat;
    background-size: 20px;
    opacity: 0.2;
 
}

.slide_btn:hover{opacity: 1;}
.swiper-button-next{ right: 110px;  transform: rotate(180deg);}
.swiper-button-prev{left: 110px ; transform: none;}



.swiper-button-prev::after,
.swiper-button-next::after
{display: none;}


.sc_product .pagination,
.sc_technology .pagination{

    margin: 90px 0;
    height: 32px;
    display: block;
}
.sc_product .slide_btn,
.sc_promotion .slide_btn,
.sc_technology .slide_btn{
    position: absolute;
    width: 60px;
    height: 72px;    
    z-index: 10;
    display: inline-block;
    background: url('../img/main_promo_arrow.png') center no-repeat;
    background-size: 20px;
    opacity: 0.2;
 
}
/* visual */

.sc_visual {
    height: 100vh;
    padding: 0;
}


.sc_visual .visual{height: 100%; position: relative;}
.sc_visual .visual iframe{height: 100%; width: 100%; object-fit: cover; z-index: 1;}
.sc_visual .swiper-pagination{ width:auto; left: 98px;bottom: 50px;}

.sc_visual .swiper-pagination .swiper-pagination-bullet{
    width:auto;
    height: auto;
    border-radius: 0;
    background: none;
    opacity: 1;

}
.sc_visual .swiper-pagination .swiper-pagination-bullet i{
    display: block; opacity: 0;transition:0.3s; margin-left: 20px;
}
.sc_visual  .swiper-pagination-bullet::after{
    content:'';
    width: 3px;
    height: 20px;
    background: #fff;
    display: inline-block;
    transition:0.3s;
    
    margin-left: 20px;
}
.sc_visual .swiper-pagination .swiper-pagination-bullet-active i{
    display: block;
    opacity:1; color: #fff; visibility: visible;
    font-size: 16px;font-weight: 500; margin-bottom: 8px; }
.sc_visual .swiper-pagination-bullet-active::after {height: 46px; width: 1px;}

.sc_visual::before{
    display: block;
    z-index: 2;
    content: '';
    opacity: .3;
    width:calc( 100% - 192px);
    height: calc(100% - 132px);
    left: 0;
    margin: 0 96px;
    background: transparent;
    border-left:1px solid #eaeaea;
    border-right:1px solid #eaeaea;
    position: absolute;
   top: 132px;
   animation: 2s 1s lines2 ;
   pointer-events: visible;
  
}
@keyframes lines2{
    0%{height:  0;}
    100%{ height: calc(100% - 132px)}
}

header:hover {
    background: #fff;
}

/* BEST PRODUCT */
.sc_best_product {
    background: #D76464;
    overflow: hidden;
    color: #fff;
    position: relative;
    display: flex;
}
.sc_best_product::before{
    display: block;
    z-index: 0;
    content: '';
    opacity: .3;
    width:calc( 100% - 192px);
    height: calc(100% );
    left: 0;
    margin: 0 96px;
    background: transparent;
    border-left:1px solid #eaeaea;
    border-right:1px solid #eaeaea;
    position: absolute;
   top: 0;
   animation: 2s 1s lines2 ;
  
}
@keyframes lines2{
    0%{height:  0;}
    100%{ height: calc(100% - 132px)}
}

.sc_best_product .left{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.sc_best_product .left h2{margin-bottom: 15px;}
.sc_best_product .left p{line-height: 1.5; font-size: 17px; font-weight: 300;}
.sc_best_product .slide_area{width: 68%;}

.sc_best_product .slide_area .swiper-slide{display: flex;}
.sc_best_product .slide_area .img_wrap{ width: 50%;}
.sc_best_product .slide_area .img_wrap img{width: 100%;}
.sc_best_product .slide_area .cont_wrap{
    width: 50%;display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
padding: 0 65px;}
.sc_best_product .slide_area h3{font-size: 28px; font-weight: 500;}
/* .sc_best_product .slide_area span{font-size: 16px; font-weight: 500; padding-bottom: 30.8px;opacity: .7;} */
.sc_best_product .slide_area strong{font-size: 20px; display: block; padding: 7px 0 5px 0;}
.sc_best_product .slide_area p{font-size: 16px; opacity: .5; padding: 27px 0 10px; display: block;
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: 23px;line-height: 1.5;}
.sc_best_product .slide_area .button{
        height: 65px;
        text-align: center;
        z-index: 10;
        background: #B24040;
        margin-top: 25px;
        font-size: 20px;
        line-height: 65px;
}
.sc_best_product .slide_area .button a{ display: block; height: 100%;}

.prod_img {}

.prod_img ul {
    overflow: hidden;
    margin-top: 100px;
}

.prod_img ul li {
    float: left;
    width: 90px;
    height: 90px;
    border: 4px solid transparent;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.07);
    position: relative;
}

.prod_img ul li a {
    display: block;
    height: 100%;
    width: 100%;
}

.prod_img ul li::before {
    content: '';
    position: absolute;
    display: inline-block;
    top: -4px;
    left: -4px;
    height: 0%;
    width: 0%;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    transition: 0.7s;
}

.prod_img .swiper-pagination-bullet-active::before {
    content: '';
    height: 110%;
    width: 100%;
    border-top: 4px solid #B24040;
    border-left: 4px solid #B24040;
}

.prod_img ul li::after {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -4px;
    height: 0%;
    width: 0%;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    transition: 0.7s;
}

.prod_img .swiper-pagination-bullet-active::after {
    content: '';
    height: 110%;
    width: 100%;
    border-right: 4px solid #B24040;
    border-bottom: 4px solid #B24040;
}


.prod_img ul li:last-child {
    margin-right: 0;
}

.prod_img ul li a {
    display: block;
    height: 100%;
}

.prod_img ul li a img {
    display: block;
    height: 100%;
}
.sc_best_product .pagination
{   position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
.sc_best_product .slide_btn.swiper-button-next{right:-460px; }
.sc_best_product .slide_btn.swiper-button-prev{left: 0;}



/* PRODUCT */

.area1 {
   display: flex;
    background: #FDF5DC;
    padding-right: 0;
}

.area1 .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 29%;
    color:#333;
}

.area1 .left p {
    display: block;
    font-size: 17px;
    line-height: 1.9;
    margin: 6.8px 0;
    color:#333;
}
.sc_product .text_wrap{
    position: relative;
}
.view_more {
    display: inline-block;
    width: 180px;
    color: #242831;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 0;
    position: relative;
    line-height: 1.6;
}

.view_more a::before {
    content: '';
    width: 100%;
    height: 5px;
    background: #242831;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.6s;
}

.view_more a:hover::before {
    content: '';
    width: 0;

}

.view_more::before {
    content: '';
    width: 0px;
    height: 2px;
    background: #242831;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -1px;
    transition: 0.6s;
}

.view_more:hover::before {
    content: '';
    width: 50%;

}

.view_more a::after {
    content: '';
    width: 8px;
    height: 12px;
    position: absolute;
    top: 21px;
    right: 0;
    display: inline-block;
    background: url(../img/main_btn_arrow.png) center no-repeat;
    background-size: 100%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}



.sc_product .slide_btn:hover{opacity: 1;}

.sc_product .swiper-button-next{ right: 300px;  transform: rotate(180deg);}
.sc_product .swiper-button-prev{left: -19px ; transform: none;}

.area1 .slide2 { 
    width: 71%;  

}

.slide2 .swiper-wrapper {}

.slide2 .swiper-slide {
    position: relative;
    background-color: transparent;
    transition: 0.5s;
}
.slide2 .swiper-slide::after{
    position: absolute;
    content: '';
    top: 0; left: 0; right: 0; bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.1); 

}
.sc_product .slide2 .swiper-slide:hover {
    background-color: #fff;
    border: none;
    box-sizing: border-box;
}

.best {
    position: absolute;
    top: 30px;
    left: 30px;
    margin: 0 0 20px;
    width: 60px;
}

.slide2 .swiper-slide a {
    display: block;
    height: 100%;
}

.slide2 .img_wrap {
    padding-top: 12%;
    width: 100%;

}

.slide2 .img_wrap img {
    display: block;
    object-fit: cover;
    width: 100%;

}
.slide2 .btn_buy{
    padding: 10px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FAC87D;
    width: 100%;
    height: 65px;
    transform: translateY(100%);
    opacity: 0;
    transition:0.3s;
    text-align: center;
    color: #fff;
}
.slide2 .btn_buy span{display: block; height: 100%; font-size: 20px; line-height: 2;}
.slide2 .swiper-slide:hover .btn_buy{
    transform: translateY(0%);
    opacity: 1;
}
.slide2 .cont_wrap {
    padding: 20px 0;
    font-size: 21px;
    text-align: center;
    font-weight: 500;
    line-height: 1.6;
    box-sizing: border-box;
    opacity: 1;
}
.slide2 .swiper-slide:hover .cont_wrap{
    transform: translateY(100%);
    opacity: 0;
}
.slide2 .cont_wrap h3 {


    padding-top: 5px;
}


.slide2 .cont_wrap p {}



/* PROMOTION */
.sc_promotion {
    color:#333;
    padding: 100px 0 110px 0;
}

.sc_promotion .title_wrap{display: flex; text-align: center; flex-direction: column; margin-bottom: 53px;}

.sc_promotion .slide_wrap{
    
    position: relative;
    overflow: hidden;
}
.sc_promotion .slide_wrap .slide {
    width: 58%;
    /* height: 300px; */
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}
.sc_promotion .slide_wrap .slide.left{
    left: -16%;
}
.sc_promotion .slide_wrap .slide.right{
    left: 116%;
}
.sc_promotion .slide_wrap .slide.active {
    position: initial;
    margin: 0 auto;
    transform: translateX(0%);
    background: rgba(120,137,165,.1);
    border:none;

}
.sc_promotion .swiper-button-next{z-index: 10; right:-110px;}
.sc_promotion .swiper-button-prev{z-index: 10; left: -110px;}

.sc_promotion .slide_wrap .swiper{width: 100%;}

.sc_promotion .slide_wrap img{width: 100%;}
.sc_promotion .slide_wrap .text_wrap{ padding: 30px 20px 15px; line-height: 1.6; display: flex; flex-direction: column;}
.sc_promotion .slide_wrap .title{display: flex; font-size: 15px; color:#7288a8; font-weight: 600; margin-bottom: 3px; position: relative;}
.sc_promotion .slide_wrap .title p:first-child{margin-right: 15px;}
.sc_promotion .slide_wrap .title p:first-child::after{
    content: '';
    margin-left: 15px;
    width: 1px;
    height: 6px;
    background-color: #d2d2d2;
    display: inline-block;
    margin-bottom: 3px;
}
.sc_promotion .slide_wrap .desc{font-size: 26px; color: #242831; display: block;}
.sc_promotion .slide_wrap .btn_more{display: block; position: relative; width: 100%; padding: 15px 0;}
.sc_promotion .slide_wrap .view_more{position: absolute; right: 0;bottom: 0; }
.sc_promotion .slide_btn:hover{opacity: 1;}

/* TECHNOLOGY */
.sc_technology {
   
    background: #FFE6E6;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
}
.sc_technology .text_wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
}
.sc_technology h2 {
    display: block;
    color: #333;
}
.sc_technology .pagination{
  position:initial;
 
  
}
.sc_technology .swiper-button-next{z-index: 10; right:200px;}
.sc_technology .swiper-button-prev{z-index: 10; left:-20px;}


.sc_technology .slide_wrap{
    position: relative;
    display: flex;
    width: 69%;
    justify-content: space-between;
    transform: translateX(20%);
}
.sc_technology .slide_wrap .slide{
width: calc(50% - 10px);
 box-sizing: border-box;
padding: 20px;}
.sc_technology .slide_wrap .slide.one{


 left: 15%;
 background-color:#fff;}
.sc_technology .slide_wrap .slide.two{


 right: -30%;
 background-color:transparent;
 padding: -1px;
border: 1px solid  #333}


 .sc_technology .slide_wrap .swiper{
     width: 100%;
 }
 .sc_technology .slide_wrap .swiper .tech-img{
     width: 100%;
     height: 100%;
 }


.sc_technology .slide_wrap .swiper .img_wrap {
    overflow: hidden;
    height: 700px;
    position: relative;
}
.sc_technology .slide_wrap .swiper .num {
    z-index: 1;
    position: absolute;
    display: inline-block;
    right: 32px;
    top: 10px;    
    width: 145px;
    height: 109px;
}

.sc_technology .cont_wrap {
    padding: 10px 20px 90px;
    margin: 0 30px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: left;
    font-weight: 400;
    box-sizing: border-box;
    height: 274.77px;
    line-height: 1.6;
    background-color: rgba(0, 0, 0, 0.4);
}

.sc_technology .slide .cont_wrap p {
    color: #fff;
    font-size: 17px;
}


.sc_technology .slide .cont_wrap h3 {
    font-family: 'Marcellus', 'Noto Sans KR', sans-serif;
    font-size: 46px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 20px;
    color: #fff;
}






.sc_technology .view_more {color: #333;}

.sc_technology .view_more a::after {background-image: url(../img/main_btn_arrow.png);}

.sc_technology .view_more a::before {background-color: #333;}

.sc_technology .view_more::before {background-color: #333;}

/* SNS */
.sc_sns {
    margin: 0 96px;
    padding: 200px 52px 160px 52px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.sc_sns::before{
    display: block;
    z-index: 1;
    content: '';

    height: 100% ;
    left: 0;
    right: 0;
    background: transparent;
    border-left:1px solid #eaeaea;
    border-right:1px solid #eaeaea;
    position: absolute;
    top: 0;
   animation: 2s 1s lines2 ;
  
}
@keyframes lines2{
    0%{height:  0;}
    100%{ height: 100%}
}
.sc_sns .title_wrap{
    position: absolute;
    left: 200px;
    top: 150px;
}
.sc_sns .title_wrap p{
    line-height: 1.6;
    font-size: 20px;
    font-weight: 500;
    margin: 18px 0 8px 0;
}
.sc_sns .sns_box{
    width: 100%;
    margin-bottom: 20px;
   overflow: hidden;
  
}
.sc_sns .sns_box span{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
    
    
}
.sc_sns .sns_box span::after{
  
    content: '';
    width: 23%;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5% 0;
    background: #242831;
}
.sc_sns .sns_box ul{
   float: right;
}
.sc_sns .sns_box ul li{
    display: inline-block;
 
    /* background: #000; */
    margin-right: 17px;
}

.sc_sns .sns_box ul li a{
    display: block;
    height: 100%;
}
.sns_box ul li a i{
    display:inline-block;
 width: 20px;
height: 20px;
opacity: .2;
background-position: center;
background-size: cover;

}
.sns_box ul li:last-child a i{
    display:inline-block;
 width: 11px;
height: 20px;
opacity: .2;
background-position: center;
background-size: cover;

}

  
.sns_box ul li:first-child i{background-image: url(../img/sns_insta.png);}
.sns_box ul li:nth-child(2) i{background-image: url(../img/sns_youtube.png);}
.sns_box ul li:nth-child(3) i{background-image: url(../img/sns_facebook.png);}
.box_wrap{width: 1320px; margin: 0 auto; display: flex;}
.box_wrap .left_box{width: 50%; display: flex; flex-wrap: wrap;}
.box_wrap .left_box .box{width: 50%;}
.box_wrap .left_box .box1{justify-content: end; display: flex; flex-direction: column;}
.box_wrap .left_box .box1 img{width: 100%;}
.box_wrap .left_box .box2{align-items: flex-end; display: flex;}
.box_wrap .left_box .box3{justify-content: flex-end; display: flex;}

.box_wrap .left_box .box2 img{width: 100%;}
.box_wrap .left_box .box4 img{width: 100%;}

.box_wrap .right_box{width: 50%;display: flex; flex-wrap: wrap;}
.box_wrap .right_box .box2,
.box_wrap .right_box .box3{
    width: 50%;
}
.box_wrap .right_box .box2 img,
.box_wrap .right_box .box3 img{
  width: 100%;}
  
.box_wrap .box{padding: 10px; box-sizing: border-box;}



/* notice */
.sc_notice {
    padding: 0;
    border-top: 1px solid #eaeaea;

    height: 84px;
}

.sc_notice .notice {
    height: 84px;
    overflow: hidden;
}

.sc_notice .notice .swiper-wrapper {

    height: 84px;
}

.sc_notice .notice .swiper-wrapper .swiper-slide {
    height: 84px;
    font-size: 18px;
    line-height: 4;
    text-align: center;
    overflow: hidden;

}



.sc_notice .notice .cont_wrap .content::after {
    content: '';
    width: 1px;
    height: 11px;
    background: #e0e0e0;
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: -5px;
}

.sc_notice .notice .cont_wrap strong::after {
    content: '';
    width: 1px;
    height: 11px;
    background: #e0e0e0;
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: -5px;

}

.sc_notice .cont_wrap {
    display: inline-block;
}

.sc_notice strong {
    float: left;
    display: inline-block;
    position: relative;
    margin-right: 35px;
}

.sc_notice p {
    float: left;
}

.sc_notice .content {
    margin-right: 35px;
    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 163px;
}

.sc_notice .date{
    padding-top: 3px;
    font-size: 16px;
    color:#868686;
  
}

/* 최소를 기준으로 코딩 */
/* 보장컨텐츠 작은 pc 노트북... */
@media screen and (max-width: 1400px) { 
    .sc_best_product{flex-direction: column;}
    .sc_best_product .left{width: 100%;}
    .sc_best_product .slide_area{width: 100%;}

    section{
        padding: 100px 50px 110px 80px;
    }

}
@media screen and (max-width: 1200px) { 

}
/* 태블릿 768~1024px 768을 보고 코딩*/
@media screen and (max-width: 1024px) { 
  
}
/* 모바일 0~768px 320px이 가장 작은 디바이스! */
@media screen and (max-width: 768px) { 
    
}
@media screen and (max-width: 1400px) { 

}
